@import './colors';

.third-container {
	height: 100vh;
	width: auto;
	background: $backgroundBase;
	background: $backgroundGradient;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	.icon_container {
		width: 200px;
		position: absolute;
		// background-color: red;
		.Bowl {
			width: 200px;
			height: auto;
			z-index: 99;
			position: relative;
			&:hover {
				// background: red;
			}
		}
		.Banana {
			width: 100px;
			height: auto;
			z-index: 1;
			position: relative;
			&:hover {
				// background: red;
			}
		}
	}
}

